@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .as-seen-shadow {
    box-shadow: 0 44px 54px -20px rgba(11, 15, 32, 0.15);
  }

  .approach-shadow{
    box-shadow: 0 14px 84px 20px rgba(30, 42, 61, 0.3);
  }
  .full-width-filled {
    @apply w-screen relative left-1/2 -translate-x-1/2 overflow-hidden justify-center
  }
}

@font-face {
  font-family: "Urbanist-500";
  src: url("../fonts/Urbanist/Urbanist-Medium.ttf");
}

@font-face {
  font-family: "Urbanist-600";
  src: url("../fonts/Urbanist/Urbanist-SemiBold.ttf");
}

@font-face {
  font-family: "Urbanist-700";
  src: url("../fonts/Urbanist/Urbanist-Bold.ttf");
}

#app{
  @apply flex flex-col min-h-[100vh] max-w-[1440px] mx-auto
}

* {
  @apply text-primary-black;
}

h1, h2, h3, h4, h5, h6, button {
  @apply font-urbanist-b
}

li, a {
  @apply font-urbanist-sb
}

p {
  @apply font-urbanist-m
}