@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Urbanist-500";
  src: url("../fonts/Urbanist/Urbanist-Medium.ttf");
}

@font-face {
  font-family: "Urbanist-600";
  src: url("../fonts/Urbanist/Urbanist-SemiBold.ttf");
}

@font-face {
  font-family: "Urbanist-700";
  src: url("../fonts/Urbanist/Urbanist-Bold.ttf");
}